@import '../../variables';

.breadcrumbs a {
    font-weight: bold;
    font-size: 24px;
}

.post-container, .comment-container {
    margin: 20px;
}

@media only screen and (min-width: $large-breakpoint-width) {
    .post-container, .comment-container {
        margin: 20px 25vw;
    }
}