//////////////////////////////////////////
// Variables
//////////////////////////////////////////
$base-black: #363636;

$base-white: #fff;

$base-blue: #173F5F;

$link-blue: #20639B;


$box-shadow-color: #CFCFCF;


$body-background: #eaebec;

$small-breakpoint-width: 512px;
$med-breakpoint-width: 800px;
$large-breakpoint-width: 1000px;