//////////////////////////////////////////
// Variables
//////////////////////////////////////////
$base-black: #363636;

$base-white: #fff;

$base-blue: #7289da;

$link-blue: #667bc4;

$box-shadow-color: #CFCFCF;


$body-background: #eaebec;

$small-breakpoint-width: 512px;
$med-breakpoint-width: 800px;
$large-breakpoint-width: 1000px;