@import '../../variables';

.post-list {
    margin: 20px;
    margin-bottom: 100px;
}

@media only screen and (min-width: $large-breakpoint-width) {
    .post-list {
        margin: 20px 25vw;
        margin-bottom: 100px;
    }
}