<nav class="navbar">
    <ul class="nav-links">
        <li [routerLink]="['/p', 'all']" class="nav-link">
            All
        </li>
        <li [routerLink]="['/p', 'AskReddit']" class="nav-link">
            AskReddit
        </li>
        <li [routerLink]="['/p', 'news']" class="nav-link">
            News
        </li>
        <li [routerLink]="['/p', 'funny']" class="nav-link">
            Funny
        </li>
        <li [routerLink]="['/p', 'gaming']" class="nav-link">
            Gaming
        </li>
        <li [routerLink]="['/p', 'aww']" class="nav-link">
            Aww
        </li>
    </ul>
</nav>