@import '../../variables';

.navbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: $base-white;
    border-bottom: 1px solid $box-shadow-color;
}

.navbar i {
    align-self: flex-end;
    color: $link-blue;
    cursor: pointer;
    font-size: 22px;
}

.nav-links {
    display: block;
    list-style: none;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    margin: 0;
}

.nav-link {
    color: $link-blue;
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
}

.hidden {
    display: none;
}


@media screen and (min-width: $large-breakpoint-width) {    
    .navbar i {
        display: none;
    }

    .navbar {
        padding: 10px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        padding: 5px 0;
    }
}